<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Define Student bean -->
    <bean id="student" class="org.example.Student">
        <property name="name" value="Sanket"/>
        <property name="age" value="20"/>
    </bean>

    <!-- Define School bean and inject Student -->
    <bean id="school" class="org.example.School">
        <property name="student" ref="student"/>
    </bean>

</beans>
